div#header
	a(href="/") Home
	|
	|
	|
	|
	a(href="/fruits/Top10") Top 10 Pages from Fruits
	|
	|
	|
	|
	a(href="/fruits/search") Search Fruits
	|
	|
	|
	|
	a(href="/personal/search") Search Personals
	|
	|
	|
	|
